
.App{
  text-align:center;
  
}

/* .Stack{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap:10px;
} */

.Blog{
  float:left;
  margin-left:20px;
}
.carrermap{
  display:flex;
}
.cybermap{
  display:flex;
}
.fsdmap{
  display:flex;
}
.datamap{
  display:flex;
}